{% extends "base.html" %}
{% block content %}

<h2>Deployment History</h2>
<p style="opacity:0.7;">Project: {{ project.name }}</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Duration</th>
            <th>Logs</th>
        </tr>
    </thead>
    <tbody>
        {% for d in deployments %}
        <tr>
            <td>#{{ d.id }}</td>
            <td>
                {% if d.status == "Success" %}
                    <span class="badge success">Success</span>
                {% elif d.status == "Failed" %}
                    <span class="badge danger">Failed</span>
                {% elif d.status == "Stopped" %}
                    <span class="badge stopped">Stopped</span>
                {% else %}
                    <span class="badge warning">{{ d.status }}</span>
                {% endif %}
            </td>
            <td>{{ d.created_at.strftime("%d %b %Y %I:%M %p") }}</td>
            <td>{{ "%.2f"|format(d.duration or 0) }} sec</td>
            <td>
                <a href="{{ url_for('main.view_logs', deployment_id=d.id) }}"
                   class="btn btn-outline">
                   View Logs
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{{ url_for('main.home') }}" class="btn btn-primary">
    ← Back to Dashboard
</a>

{% endblock %}