{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow p-4">
            <h3 class="mb-4 text-center">Login</h3>

            <form method="POST">
                <input class="form-control mb-3" type="email" name="email" placeholder="Email" required>
                <input class="form-control mb-3" type="password" name="password" placeholder="Password" required>
                <button class="btn btn-primary w-100">Login</button>
            </form>

            <div class="mt-3 text-center">
                <span>Don't have an account?</span>
                <a href="{{ url_for('main.register') }}" class="btn btn-outline-secondary btn-sm ms-2">
                    Register
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}